@import "./colors";
@import "./fonts";

.containerLight,
.containerDark {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .name {
    font-family: $playfair;
    font-size: 20vw;
    font-weight: bold;
    color: $dark-gray;
    text-shadow: 5px 0px 0px $background-dark;
    text-align: center;
    margin-top: -15vh;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-family: $playfair;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
      font-size: 4vw;
      margin: 0;
    }

    .container {
      font-family: $worksans;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .emailTitle {
        text-transform: uppercase;
        font-size: 2vw;
        font-weight: 700;
      }

      .email {
        margin-bottom: 1.5vh;
        font-weight: 500;
      }

      .link {
        text-transform: uppercase;
        font-weight: 500;
        margin: 0.5vh;
        cursor: pointer;
      }
    }
  }
}

.containerLight {
  color: $background-dark;
}

.containerDark {
  color: $background;
  .name {
    color: $background;
    text-shadow: 5px 0px 0px $accent;
  }
}

@media only screen and (max-width: 450px) {
  .containerDark,
  .containerLight {
    .name {
      word-break: break-all;
      line-height: 38vw;
      font-size: 48vw;
      margin-top: -45vh;
      margin-bottom: 5vh;
    }

    .content {
      .title {
        font-size: 10vw;
      }

      .container {
        padding-bottom: 35vh;
        .emailTitle {
          text-transform: uppercase;
          font-size: 5vw;
          font-weight: 700;
        }

        .email {
          font-size: 4vw;
        }

        .link {
          font-size: 4vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .containerDark,
  .containerLight {
    padding-bottom: 10vh;
    .name {
      word-break: break-all;
      line-height: 38vw;
      font-size: 23vw;
      margin-top: 0vh;
    }

    .content {
      .title {
        font-size: 10vw;
      }
      .leftContent {
        .paragraph {
          font-size: 2.3vw;
          line-height: 2.1vw;
        }
      }
    }
  }
}
