@import "./colors";
@import "./fonts";

.containerLight,
.containerDark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  height: 10vh;

  .content {
    .link {
      font-family: $playfair;
      font-size: 1.3rem;
      text-transform: lowercase;
      padding-bottom: 13px;
      font-weight: 700;
    }
  }
}

.containerLight {
  .content {
    .link,
    button {
      color: $background-dark;
    }
  }
}

.containerDark {
  .content {
    .link,
    button {
      color: $background;
    }
  }
}

@media only screen and (max-width: 450px) {
  .containerLight,
  .containerDark {
    .content {
      text-align: center;
      .link {
        display: none;
      }
    }
  }
}
