@import "./colors";
@import "./fonts";

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.containerLight,
.containerDark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .content {
    height: 100%;
    width: 100%;

    .blink {
      font-family: $worksans;
      text-transform: lowercase;
      font-weight: 600;
      letter-spacing: 1px;
      animation: blinker 2s linear infinite;
      margin: 1vh 0vh;
      text-align: center;
    }

    .title {
      font-family: $playfair;
      text-transform: uppercase;
      letter-spacing: 0.3vw;
      font-size: 4vw;
      margin: 0;
    }

    .featured {
      text-transform: uppercase;
      font-family: $worksans;
      color: $accent;
      letter-spacing: 0.5vw;
      margin-top: 0;
    }

    .project {
      display: flex;
      align-items: center;
      position: absolute;
      padding: 1vw 2vw;
      height: 70%;
      width: 80%;
      background-color: $light-gray;
      color: $background;
      border-radius: 30px;

      .projectTitle {
        margin: 0;
        font-size: 3vw;
      }

      .projectParagraph {
        font-family: $worksans;
        font-size: 1.5vw;
        position: relative;
        margin-top: 40vh;
      }

      .languages {
        display: flex;
        font-family: $worksans;
        gap: 3vw;
        font-weight: 600;
        font-size: 1.8vw;
      }

      .projectImageWrapper {
        height: 50%;
        width: 95%;
        display: flex;
        position: absolute;
        gap: 10px;
      }
    }
  }
}

.containerDark {
  color: $background;
}

.containerLight {
  color: $background-dark;
}

@media only screen and (max-width: 1000px) {
  .containerLight,
  .containerDark {
    .content {
      .project {
        .projectImageWrapper {
          flex-wrap: wrap;
          overflow: scroll;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .containerLight,
  .containerDark {
    .content {
      .title {
        font-size: 10vw;
        padding-top: 7vh;
      }
      .featured {
        margin: 0;
      }
      text-align: center;
      .project {
        .projectTitle {
          font-size: 10vw;
        }

        .projectParagraph {
          font-size: 4.5vw;
          margin-top: 37vh;
          font-weight: 500;
        }

        .languages {
          display: flex;
          justify-content: center;
          font-size: 3.5vw;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 900px) {
  .containerDark,
  .containerLight {
    .content {
      .title {
        font-size: 10vw;
      }
      .project {
        .projectTitle {
          font-size: 5vw;
        }
        .projectParagraph {
          font-size: 2.5vw;
          font-weight: 600;
        }
        .languages {
          font-size: 2.8vw;
          font-weight: 700;
        }
      }
    }
  }
}
